[Unit]
Description=WireGuard Dashboard
After=network.target wireguard.service

[Service]
Type=simple
User=root
Group=root
WorkingDirectory=__FINALPATH__/src/
ExecStart=__FINALPATH__/src/wgd.sh debug

[Install]
WantedBy=multi-user.target
